// Tablet
@media(max-width: $tablet) {
    #header {
        &-menu {
            .menu-box {
                grid-template-columns: repeat(2, 1fr);

                .menu-item {
                    
                    &-img {
                        height: 30rem;
                    }
                }
            }
        }
    }
}

// Phone
@media(max-width: $mobile) {
    #header {
        &-menu {
            .menu-box {
                grid-template-columns: 1fr;
            }
        }
    }
}