$light-color: #f3f3f3;
$dark-color: #333;
$primary-color: #ff7629;
$primary-light-color: lighten(#ff7629, 40%);
$max-width: 1200px;
$max-width-2: 900px;
$small-phone: 330px;
$transition: all .2s ease-in-out;
$box-shadow: 0px 0px 5px rgba( 0, 0, 0, .2);
$tablet: 900px;
$s-laptop: 1000px;
$mobile: 700px;
$s-mobile: 350px;
$wide-screen: 1500px;